@{
    ViewData["Title"] = "StudentPrograms";
}

@model LessonDayViewModel

@if (Model.Message != null)
{
    <div class="container">
        <div id="myMessage" class="alert alert-success" role="alert">
            @Model.Message
        </div>
    </div>
}

<h1>List of students who should attend today</h1>

<table id="myTable" class="table table-striped table-bordered tbl">
    <thead>
        <tr>
            <th>Student</th>
            <th>Teacher</th>
            <th>Course</th>
            <th>Add Attendance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lessonDay in Model.LessonDayModels)
        {
            <tr>
                <td>@lessonDay.StudentProgram?.Student?.FullName</td>
                <td>@lessonDay.StudentProgram?.Teacher?.FullName</td>
                <td>@lessonDay.StudentProgram?.Course?.Name</td>
                <td>
                    <a asp-controller="Attendances" asp-action="Create" asp-route-id="@lessonDay.StudentProgram?.Id" class="btn btn-success">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script>
        $(document).ready(function () {
            $("#myTable").DataTable();
        });

        $(document).ready(function () {
            setTimeout(function () {
                $("#myMessage").fadeOut("slow", function () {
                    $(this).remove();
                });
            }, 3000); 
        });
    </script>
}
